<mat-list>
  <mat-list-item *ngFor="let board of boards$ | async" (click)="onBoardClick(board)">
    <div class="item">
      <span class="board-title">{{ board.title }}</span>
      <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button" 
              (click)="$event.stopPropagation()">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="$event.stopPropagation(); editBoard(board)">Edit</button>
      <button mat-menu-item (click)="$event.stopPropagation(); deleteBoard(board)">Delete</button>
    </mat-menu>
  </mat-list-item>
</mat-list>

<div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
