<!-- Updated: dashboard/dashboard.html -->
<mat-sidenav-container class="dashboard-container">
  <!-- Sidebar -->
  <mat-sidenav #sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile" class="sidenav" fixedInViewport
    [class.absolute-overlay]="isMobile">
    <!-- Sidebar header -->
    <div class="sidebar-header">
      <h2 class="sidebar-title">Boards</h2>

      <div class="sidebar-actions">
        <button *ngIf="isMobile" mat-icon-button (click)="toggleSidebar()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>

    <button class="custom-button" (click)="openCreateBoardDialog()" title="Create New Board">
      Create new Board<mat-icon>add</mat-icon>
    </button>
    <!-- Board list -->
    <app-board-list (boardClicked)="closeIfMobile()"></app-board-list>

    <div class="bottom-nav">
      <button mat-icon-button class="icon-logout" (click)="logout()" title="Logout">
        <mat-icon>exit_to_app</mat-icon>
      </button>
      <button mat-icon-button class="icon-button" (click)="openInvitationNotification()" title="Check Invitations">
        <mat-icon>notifications</mat-icon>
      </button>
      
      
    </div>

  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>
    <!-- Mobile toggle button -->
    <div *ngIf="isMobile" class="mobile-toggle">
      <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <!-- Main content area -->
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>